/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

/* Fim do reset */

/* Fontes */
@font-face {
    font-family: 'crystaluniverse';
    src: url('./font/CrystalUniverse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Elementos básicos */
html, body {
    scroll-behavior: smooth;
}

/* Header */
header {
    background-color: #333;
    padding: 16px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    font-family: 'crystaluniverse';
    font-size: small;
}

header nav a {
    color: white;
    padding: 8px;
}

header nav a:hover {
    padding: 8px;
    color: rgb(255, 0, 0);
    transition: 0.65s;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

/* Sessão inicial */
.grupo {
    height: 100vh;
}

#inicio {
    padding: 50px;
    padding-top: 100px;
    background-image: linear-gradient(#2896dd, #c0f6fb);
}

#inicio .fundo {
    width: 100%;
    height: 100%;
    background-image: url(./img/inicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#inicio .container {
    width: 50%;
    height: fit-content + 20px;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    border-radius: 50px;
    border: 7px solid rgb(228, 17, 203);
}

#inicio .container h1 {
    color: rgb(125, 1, 138);
    padding: 15px;
    font-size: 2vw;
    font-family: 'crystaluniverse', sans-serif;
}

#inicio .container h3 {
    color: rgb(228, 17, 203);
    padding-top: 15px;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1vw;
}

/* Sessão Steven */
#steven {
    background-image: linear-gradient(#c0f6fb, #c5385e);
}

#steven .fundo {
    width: 100%;
    height: 100%;
    background-image: url(./img/fundosteven.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#steven img {
    padding-left: 12vh;
    height: 55vh;
    padding-right: 30vh;
}

#steven .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vw;
}

#steven h1 {
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f6ff00;
    color: #ff77be;
    padding-bottom: 40px;
    font-size: 3vh;
}

#steven h3 {
    text-align: left;
    color: white;
    line-height: 1.8vw;
    font-size: 2.8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

/* Sessão Pérola */
#perola {
    display: flex;
    background-image: url(./img/fundoperola.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#perola .container {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vw;
}

#perola h1 {
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #efefef;
    color: #2bf2d7;
    padding-bottom: 40px;
    font-size: 3.5vh;
}

#perola h3 {
    text-align: left;
    color: #0df1d3;
    line-height: 1.8vw;
    font-size: 2.8vh;
    padding-right: 50px;
}

#perola img {
    height: 60vh;
    padding-left: 15vw;
    padding-right: 10vw;
}

/* Sessão Ametista */
#ametista {
    background-image: linear-gradient(#fbfbfb, #221922);
}

#ametista .fundo {
    width: 100%;
    height: 100%;
    background-image: url(./img/fundoametista.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#ametista img {
    padding-left: 15vh;
    height: 80vh;
    padding-right: 30vh;
    padding-top: 2vw;
}

#ametista .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vw;
}

#ametista h1 {
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #232227;
    color: #9558b8;
    padding-bottom: 40px;
    font-size: 3vh;
}

#ametista h3 {
    text-align: left;
    color: #744c87e2;
    line-height: 1.8vw;
    font-size: 2.8vh;
    padding-right: 50px;
}

/* Sessão Garnet */
#garnet {
    background-color: rgba(128, 0, 128, 0.513);
    display: flex;
    background-image: url(./img/fundogarnet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: 51% 50%;
}

#garnet .container {
    width: 40vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vw;
}

#garnet h1 {
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3d0431;
    color: #e20063;
    padding-bottom: 40px;
    font-size: 3.5vh;
}

#garnet h3 {
    text-align: left;
    color: #d80231;
    line-height: 1.8vw;
    font-size: 2.8vh;
    padding-right: 50px;
}

#garnet img {
    height: 67vh;
    padding-left: 25vw;
    padding-right: 10vw;
}

/* Outras cores */
#safira {
    color: rgb(41, 184, 255);
    -webkit-text-stroke-width: 0;
}

#rubi {
    color: red;
    -webkit-text-stroke-width: 0;
}

#perola h3, #garnet h3, #steven h3, #ametista h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Responsividade */
@media (max-width: 1200px) {
    #steven h3, #perola h3, #garnet h3, #ametista h3 {
        line-height: normal;
    }
    
    #inicio .fundo {
        background-size: cover;
        background-position: center;
        border-radius: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #inicio .container {
        width: fit-content;
        height: fit-content;
        padding: 2vh;
    }

    #inicio .container h1 {
        font-size: larger;
    }

    #inicio .container h3 {
        font-size: large;
    }

    #steven .fundo, #steven h1 {
        background-position: center;
        background-size: cover;
        font-size: 2.5vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
    }

    #steven h3 {
        font-size: 2.5vh;
        line-height: normal;
    }

    #steven img {
        padding-left: 1vh;
        height: 40vh;
        padding-right: 3vh;
    }

    #ametista img {
        padding-left: 1vh;
        height: 55vh;
        padding-right: 1vh;
        padding-top: 2vw;
    }

    #garnet img {
        height: 55vh;
        padding-left: 20vw;
        padding-right: 0vw;
    }

    #garnet h3 {
        padding-right: 1vw;
    }

    #perola img {
        padding-left: 20vh;
        height: 50vh;
        padding-right: 5vw;
    }

    #perola .container {
        padding-left: 2vh;
    }

    header nav a {
        color: white;
        padding: 6px;
    }
}

@media (max-width: 640px){
    header {
        background-color: #333;
        padding: 16px;
        width: 100vw;
        position: fixed;
        z-index: 1;
        font-family: 'crystaluniverse';
        font-size: 1.45vw
    }
    #inicio{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        padding-top: 20%;
    }
    #inicio .fundo{
        padding: 5%;
        width: 200%;
        background-image: url(./img/iniciomobile.jpg);
    }
    #inicio .container{
        width: 150%;
        height: fit-content;
        opacity: 80%;
    }
    #inicio .container h1{
        font-size: medium;
        padding-bottom: 0px;
    }
    #inicio .container h3{
        color: rgb(228, 17, 203);
        padding-top: 15px;
        font-size: 3.7vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #steven img{
        height: 50vw;
        padding-right: 1vw;
    }
    #steven .container{
        width: 100%;
    }
    #steven .container h1{
        font-size: 4vw;
    }
    #steven .container h3{
        font-size: 3vw;
        padding-right: 0px;
    }
    #perola img{
        height: 60vw;
        padding-left: 2vw;
        padding-right: 0vw;
    }
    #perola .container h3{
        padding-right: 1vw;
        font-size: large;
    }
    #ametista img{
        height: 70vw;
        padding-right: 1vw;
    }
    #ametista .container{
        width: 100%;
        text-align: right;
    }
    #ametista h1 {
        font-size: large;
        text-align: left;
        padding-bottom: 20px;
    }
    #ametista .container h3{
        font-size: large;
        padding-right: 2vw;
    }
    #garnet .container{
        padding: 1vw;
        width: 50vh;
        padding-left: 5vw;
    }
    #garnet img {
        height: 35vh;
        padding-right: 0vw;
        padding-left: 0vw;
    }
    #garnet h3 {
        font-size: large;
        padding-right: 1vw;
    }
}
