* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

@font-face {
    font-family: 'crystaluniverse';
    src: url('./font/CrystalUniverse-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    scroll-behavior: smooth;
}



header nav a:hover{
    padding: 8px;
    color: rgb(255, 0, 0);
    transition: 0.65s;
}

header nav a{
    color: white;
    padding: 8px;
}


header{
    background-color: #333;
    padding: 16px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    font-family: 'crystaluniverse';
    font-size: small;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}


.grupo{
    height: 100vh;
}

#inicio{
    padding: 50px;
    padding-top: 100px;
    background-image: linear-gradient(#2896dd, #c0f6fb)
}

#inicio .fundo{
    width: 100%;
    height: 100%;
    background-image: url(./img/inicio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#inicio .container{
    width: 50%;
    height: 44%;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    border-radius: 50px;
    border: 7px solid rgb(228, 17, 203);
}

#inicio .container h1{
    color: rgb(125, 1, 138);
    padding: 15px;
    font-size: 2vw;
    font-family: 'crystaluniverse', sans-serif;
    
}

#inicio .container h3{
    color: rgb(228, 17, 203);
    padding-top: 15px;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#steven{
    background-image: linear-gradient(#c0f6fb,#c5385e);
}
#steven .fundo{
    width: 100%;
    height: 100%;
    background-image: url(./img/fundosteven.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#steven img{
   padding-left: 12vh; 
   height: 55vh;
   padding-right: 30vh;
}

#steven .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vw;
}

#steven h1{
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f6ff00;
    color: #ff77be;
    padding-bottom: 40px;
    font-size: 3vh;
}

#steven h3{
    text-align: left;
    color: white;
    line-height: 1.8vw;
    font-size: 2.8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

#perola{
    display: flex;
    background-image: url(./img/fundoperola.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#perola .container{
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vw;

}

#perola h1{
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #efefef;
    color: #2bf2d7;
    padding-bottom: 40px;
    font-size: 3.5vh;
}

#perola h3{
    text-align: left;
    color: #0df1d3;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000000;
    line-height: 1.8vw;
    font-size: 2.8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

#perola img{
    height: 60vh;
    padding-left: 15vw;
    padding-right: 10vw;
}

#ametista{
    background-image: linear-gradient(#fbfbfb, #221922)
}

#ametista .fundo{
    width: 100%;
    height: 100%;
    background-image: url(./img/fundoametista.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#ametista img{
    padding-left: 15vh; 
    height: 80vh;
    padding-right: 30vh;
    padding-top: 2vw;
}

#ametista .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vw;
}

#ametista h1{
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #232227;
    color: #9558b8;
    padding-bottom: 40px;
    font-size: 3vh;
}

#ametista h3{
    text-align: left;
    color: #744c87e2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.8vw;
    font-size: 2.8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}


#garnet{
    background-color: rgba(128, 0, 128, 0.513);
}

#garnet{
    display: flex;
    background-image: url(./img/fundogarnet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#garnet .container{
    width: 40vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vw;
}

#garnet h1{
    font-family: 'crystaluniverse';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3d0431;
    color: #e20063;
    padding-bottom: 40px;
    font-size: 3.5vh;
}

#garnet h3{
    text-align: left;
    color: #d80231;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #3d0431;
    line-height: 1.8vw;
    font-size: 2.8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

#garnet img{
    height: 67vh;
    padding-left: 15vw;
    padding-right: 10vw;
}

#safira{
    color: rgb(41, 184, 255);
    -webkit-text-stroke-width: 0;
}

#rubi{
    color: red;
    -webkit-text-stroke-width: 0;
    
}

@media (max-width: 1200px){
    #steven h3, #perola h3, #garnet h3, #ametista h3{
        line-height: normal;
    }
    #inicio .fundo{
        background-size: cover;
        background-position: center;
        border-radius: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #inicio .container{
        width: fit-content;
        height: fit-content;
        padding: 2vh;
    }
    #inicio .container h1{
        font-size: larger;
    }
    #inicio .container h3{
        font-size: large;
    }
    #steven .fundo{
        background-position: center;
        background-size: cover;
    }
    #steven h1{
        font-size: 2.5vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
    }
    #steven h3{
        font-size: 1.8vh;
        line-height:normal;
    }
    #steven img{
        padding-left: 1vh; 
        height: 40vh;
        padding-right: 3vh;
     }
     #ametista img{
        padding-left: 1vh; 
        height: 55vh;
        padding-right: 1vh;
        padding-top: 2vw;
    }
    #garnet img{
        height: 55vh;
        padding-left: 5vw;
        padding-right: 0vw;
    }
    #garnet h3{
        padding-right: 1vw;
    }
    #garnet{
        background-position: 51% 50%;
    }
    #perola img{
        padding-left: 1vh;
        height: 50vh;
        padding-right: 5vw;
    }
    #perola .container{
        padding-left: 2vh;
    }
    header nav a{
        color: white;
        padding: 6px;
    }
}
